@import url(https://fonts.googleapis.com/css?family=Outfit);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

:root {
  --white: #ffffff;
  --lightGrey: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Outfit";
  font-size: 93.75%; /* similar to 15px*/
}

body {
  background: var(--lightGrey);
}

h2 {
  color: var(--darkBlue);
  font-weight: 700;
  font-size: 1.4667rem;
  margin-bottom: 1rem;
}

p {
  color: var(--grayishBlue);
  font-size: 1rem;
  font-weight: 400;
}

.background {
  display: grid;
  place-items: center;
  height: 100vh;
}

.qr-window {
  background: var(--white);
  width: 21.5rem;
  padding: 1rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 2rem -1.5rem grey
}

.qr-image {
  max-width: 100%;
  border-radius: 1rem;
}

.textarea {
  padding: 1.4rem 1rem;
  max-height: 100%;
  text-align: center;
}
